* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.g-20 {
  gap: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* PRODUCTS */
.col {
  width: calc(100% / 4);

  min-height: 100px;
  background-color: #ffffffff;
  padding: 10px;
}

.lunga {
  border: 2px solid blue;
}

.corta {
  border: 2px solid green;
}

.cortissima {
  border: 2px solid red;
}

.alert {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.alert-warning {
  border-color: rgb(202, 202, 7);
  background-color: rgba(202, 202, 7, 0.5);
}

.alert-success {
  border-color: rgb(18, 165, 92);
  background-color: rgba(18, 165, 92, 0.5);
}

.alert-error {
  border-color: rgb(165, 25, 18);
  background-color: rgba(165, 25, 18, 0.5);
}

.logo {
  margin-bottom: 20px;
}

.slogan {
  font-style: italic;
}
